* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content {
  width: 50vw;

  > div {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}

section {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;

  h1 {
    font-size: 2rem;
  }

  p {
    width: 35vw;
  }

  li {
    list-style-type: none;
  }
}

button {
  border: none;
  padding: 1rem 2rem;
  margin: 0 1rem 2rem;
  border-radius: 0 0 12px 12px;
}
button:hover {
  cursor: pointer;
}
.currentPage {
  background-color: pink;
}
